<div class="container">
    <div class="newsletter">
        <span>Sign up for newsletter</span>
        <span><input type="text" name="email" placeholder="Enter your email"></span>
        <a href="#" onclick="SubmitNews()">Submit</a>
       
    </div>
</div>