<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer">
                <h2 class="footer-navigation-hd">Links</h2>
                <ul class="footer-navigation">
                    <li><a href="#">About greencar</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer">
                <h2 class="footer-navigation-hd">Links</h2>
                <ul class="footer-navigation">
                    <li><a href="#">Term and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="app-icon1 clearfix">
                    <li><img src="assets/images/googleAppStore.png" alt="googleAppStore"></li>
                </ul>
                <ul class="app-icon clearfix">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="allright-reserved">
                    <p>Copyright &copy; 2018 Greencar.ngo. All right reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>