
@{
    ViewData["Title"] = "Carpooling, Cabpooling, About Us - GreenCarNGO";
    Layout = "~/Views/Shared/_LayoutMainV1.cshtml";
     ViewData["Description"]  = "We are an environmentally conscious Not for profit company that provides carpooling solutions with the aim of reducing the burden on the environment and the economy.We believe that our action will directly help in reducing global warming.";
}

<div class="banner-section">
	<img src="assets/images/aboutus.jpg" alt="images">
</div>



<div class="container">
	<div class="about-wrapp">
		<h1><span>About Us<span></h1>
		<div class="row">
			<div class="col-md-8">
				<h4 class="column-title">Who we are and what we do</h4>
				<div class="clearfix"></div>
				<p>We are an environmentally conscious Not for profit company that provides carpooling solutions with the aim of reducing the burden on the environment and the economy.We believe that our action will directly help in reducing global warming. </p>
				<p>We provide up-to-date web application for conscientious citizens to exchange relevant information, based on which they can find suitable and safe carpooling options. We are a reliable platform for people to connect for the purpose of sharing a ride and thereby, share the cost of travel.</p>
				<p>Being the platformlargest not for profit carpooling company, it is our duty to propagate carpooling or ride-sharing as a pocket-friendly and safe way of contributing to our economy and positively impacting our environment.</p>
			</div>

			<div class="col-md-4">
				<h4 class="column-title">Why we do what we do</h4>

				<p>
					All major cities in the world are struggling with traffic congestion. People are losing billions of $ in fuel and man hour wastage. We all need to come forward and make carpooling as mission to save our self. It is estimated that emissions from vehicles contributes to about 70% of the air pollution. Hence, it is every citizen’s civic duty to reduce carbon footprint and carpooling is one of the economical ways one can contribute to this cause.
				</p>

			</div>
		</div>
	</div>






</div>


<div class="our-vision-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 vision-wrapp">
				<div class="vision-content">
					<h3>Our vision</h3>
					<h4><em>Our vision is to clean up the air we breathe by minimizing CO2 emissions.</em></h4>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 pd_l_r_0">
				<img src="assets/images/vission.png">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 pd_l_r_0">
				<img src="assets/images/mission.png">
			</div>

			<div class="col-md-6 col-sm-6 mission-wrapp">
				<div class="mission-content">
					<h3>Our mission</h3>
					<h4>
						<em>
							Our mission is to provide safe carpooling solutions to the maximum number of people so as to minimize the burden on the environment and the economy.
						</em>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="feature-point">
	<div class="container">
		<h4 class="column-title">Some facts & figures to emphasize the importance of what we do</h4>
		<div class="clearfix"></div>
		<ul class="list-unstyled">
			<li><i class="fa fa-angle-double-right"></i> More than nine out of 10 of the world’s population – 92% – lives in places where air pollution exceeds safe limits.</li>
			<li><i class="fa fa-angle-double-right"></i> Air pollution is the fourth-largest threat to human health.</li>
			<li><i class="fa fa-angle-double-right"></i> 70% of cars are single driven, giving large scope for carpool.</li>
			<li><i class="fa fa-angle-double-right"></i> Congestion costs Europe about 1% of its Gross Domestic Product (GDP) every year.</li>
			<li><i class="fa fa-angle-double-right"></i> Globally, air pollution-related deaths have increased by 300 per cent since 2000. About 65 per cent of these deaths occur in Asia.</li>
		</ul>
		<p class="source-info"><sup style="color:#45c96a;"><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Source: Findings released WHO and reputed agencies. <sup style="color:#45c96a;"><i class="fa fa-quote-right" aria-hidden="true"></i></sup></p>
	</div>
</div>

