
@{
    ViewData["Title"] = "Carpool Cervices, Cabpool Online Platform, Car Carpooling App - GreenCar";
    Layout = "~/Views/Shared/_LayoutMainV1.cshtml";
     ViewData["Description"]  = "Carpool/Cabpool Online Platform - GreenCar is the best rideshare app for corporate and CSR. We offer the top carpool services in Delhi/NCR. GrenCar is committed to women safety, timely drop/pick up of the people on the daily basis, easy communication at the affordable prices. Booknow.";
}


<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="keywords" content="carshare, greencar, rideshare, carpool, carpooling, liftshare, delhi carpool, Gurgaon carpool, Noida carpool, Gurgaon to delhi carpool" />



@*<script src='https://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places&key=AIzaSyDD7puqlz8_uRxO2cL_EyXi7xWE3Vkm-m8'></script>*@

<script src='https://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places&key=AIzaSyCTZZzl76E1r0NR8ARbup8hCiF6-QXMwKI'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6681014100738930",
        enable_page_level_ads: true
    });
</script>


<style>
    .input-validation-error {
        border-color: red !important;
    }

    .form-section {
        top: 0px !important;
    }
</style>

@model DailyCabModels


<div class="slider-section">
    <div class="slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('assets/images/home-banner-1.jpg');">
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/home-banner-2.jpg');">
                    <!--<div class="carousel-caption d-none d-md-block">
                      <h3>Second Slide</h3>
                      <p>This is a description for the second slide.</p>
                    </div>-->
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/home-banner-3.jpg');">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



    </div>
    <div class="form-section">
        <div class="slider-frm">
            <form action="/carpool" method="post">
                <div class="form-group radio-btn">
                    <span>Monthly fixed Cab pool </span>
                </div>
                <div class="row">

                    <div class="form-group radio-btn">
                        <span>I am a </span>
                        <input type="radio" asp-for="Sex" value="Male" checked>&nbsp; Male &nbsp;
                        <input type="radio" asp-for="Sex" value="Female">&nbsp; Female
                    </div>


                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <input asp-for="Name" class="form-control" placeholder="Name" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <input asp-for="Official" class="form-control" placeholder="Official Email" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <input asp-for="MobileNo" class="form-control" placeholder="Mobile No" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <div class="frm-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <input asp-for="Source" class="form-control" placeholder="Leaving" />

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <div class="frm-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>

                            <input asp-for="Destination" class="form-control" placeholder="Going to" />
                        </div>
                    </div>




                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group clearfix">
                            <input type="number" class="form-control" asp-for="EstimatedCast" placeholder="cost/month* ">
                        </div>
                    </div>
                    <span class="frm-text">Greencar is corrently  available only for 5 days for a week (Monday to Friday)</span>

                    <div class="col-xs-12 col-sm-12">
                        <button type="submit" name="submit" class="form-control btn">Submit Enquiry</button>
                        <span class="proceeding">By proceeding, I agree to the <a href="#">term and condition</a></span>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="newsletter-section">
    <div class="container">
        <div class="text1" style="height:100px">

        </div>
    </div>
</div>
<div class="owner-section">
    <div class="owner-img">
        <div class="text">
            <h1>Are you a car owner?</h1>
            <p>Join the GreenCar<br>fleet and earn</p>
            <a href="#" onclick="OpenModel()">get started</a>
        </div>
    </div>
</div>
<div class="greencar-app-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 get-greencar-app">
                <div class="get-app">
                    <h2>Get GreenCar app</h2>
                    <p>A new and awesome GreenCar mobile app is coming soon.</p>
                    <ul class="app-icon clearfix">
                        <li><img src="assets/images/googleAppStore.png" alt="googleAppStore"></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="convence-img">
                    <img src="assets/images/mobile.jpg" alt="images">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="newsletter-section">
    <partial name="_newsletter" />
</div>

<script>
    $(document).ready(function () {

        // google.maps.event.addDomListener(window, 'load', initialize());
        setTimeout(function () { initialize() }, 200)
    });



    function CalculateDistance() {
        var service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix({
            origins: [$("#Source").val()],
            destinations: [$("#Destination").val()],
            travelMode: google.maps.TravelMode.DRIVING,
            unitSystem: google.maps.UnitSystem.METRIC,
            avoidHighways: false,
            avoidTolls: false
        }, function (response, status) {
            if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                var distance = response.rows[0].elements[0].distance.value;
                var duration = response.rows[0].elements[0].duration.text;
                // $("#txtCast").val(parseInt(distance / 1000))


                var _Distance = parseInt(distance / 1000);
                var _BaseFare = 40; var _Days = 22;
                var _PriceKM = 3.5;
                var _TatalPrice = _Distance * 3.5 * 22 * 2 + (_BaseFare * 2 * 22);
                $("#EstimatedCast").val(_TatalPrice)

                //  console.log(JSON.stringify(response))
                // var dvDistance = document.getElementById("dvDistance");
                //dvDistance.innerHTML = "";
                //dvDistance.innerHTML += "Distance: " + distance + "&nbsp;/&nbsp;";
                //dvDistance.innerHTML += "Duration:" + duration;

            } else {
                //alert("Unable to find the distance via road.");
            }
        });
    }



    function initialize() {
        //________________


        var options = {
            componentRestrictions: { country: "in" }
        };

        var input = document.getElementById('Source');

        var autocomplete = new google.maps.places.Autocomplete(input, options);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            CalculateDistance();
        });
        //**************************
        var input1 = document.getElementById('Destination');
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options);
        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            CalculateDistance();
        });
        //**************************

        //**************************


        //**************************
    }
</script>
<partial name="_ValidationScriptsPartial" />



<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Please Fill Details</h4>
                <button type="button" class="close" data-dismiss="modal" id="btnClose">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="mName" placeholder=" Name">
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group">
                        <input type="tel" maxlength="10" class="form-control" id="mMobileNo" placeholder="Mobile Number">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="mCity" placeholder="City">
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button type="button" class="btn btn-danger" onclick="SaveCarDetails()">Submit</button>
                </div>
            </div>



        </div>
    </div>
</div>


<script>
    function OpenModel() {
        $("#myModal").modal(

            { backdrop: 'static' }


        )
    }

    function SaveCarDetails() {

        $("#mName").removeClass('input-validation-error');
        $("#mMobileNo").removeClass('input-validation-error');
        $("#mCity").removeClass('input-validation-error');

        var flag = false;
        if ($("#mName").val().trim() == '') {
            $("#mName").addClass('input-validation-error');
            flag = true;
        }
        if ($("#mMobileNo").val().trim() == '') {
            $("#mMobileNo").addClass('input-validation-error');
           flag = true;
        }
        if ($("#mCity").val().trim() == '') {
            $("#mCity").addClass('input-validation-error');
            flag = true;
        }
        if (flag)
            return;

        // Save In DB


             $.ajax({
                 url: '@Url.Action("SaveCarOwnerDetails","Home")',
                 method:'POST',
                data: {
                    'Name': $("#mName").val(),
                    'MobileNo': $("#mMobileNo").val(),
                    'City': $("#mCity").val(),

               },
            beforeSend: function () {
               
            },
            complete: function () {
                
            },
             success: function (data) {

                 $("#btnClose").click();

                 $("#mName").val('');
                 $("#mMobileNo").val('');
                 $("#mCity").val('');

                
                alert(data);

            }
        });


    }

</script>