
@{
	ViewData["Title"] = "contactus";
	Layout = "~/Views/Shared/_LayoutMainV1.cshtml";
}

<div class="contactus-wrapp">
	<div class="container">
		<h1></h1>
		<div class="row">

			<div class="col-md-8">
				<h2 class="address">Contact Us</h2>
				<p style="padding: 0 0 10px 0;">
					We would love to hear from you. Share your opinions, queries and feedback.
					Just leave your details and have us call you back !
				</p>

				<div class="contactus-form-section">
					<div class="contactus-form">
						<form method="post" action="" class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="usr" placeholder="Frist Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="usr" placeholder="Last Name">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="usr" placeholder="Mobile Number">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="usr" placeholder="E-mail id">
								</div>

							</div>

							<button class="subscribe btn btn-default" type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4 helpline">
				<div class=" ">
					<h3 class="address">Call us</h3>
					<p>Consumer queries <a class="email" href="mailto:corporate@greencar.ngo">help@greencar.ngo</a></p>
					<p>Media queries <a class="email" href="mailto:corporate@greencar.ngo">corporate@greencar.ngo</a></p>
				</div>
			</div>
		</div>



	</div>
</div>

<div class="mapp-wrap">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224090.7638451818!2d76.9531794218807!3d28.64719476537341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1566026632276!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<div class="contactus-content-wrap">
	<div class="container">
		<div class="aboutus">
			<h2>Please note</h2>
			<p style="padding:10px 0;">Kindly note that we are NOT cab services aggregators like Uber, Ola, Lyft, Hailo etc. Our aim is to reduce number of cars from roads by offering platform for individuals to share their personal cars or cabs. Because of high volume of members getting registered on daily basis we may not be able to provide solution to all individuals, you are requested to go through FAQ page also. For immediate assistance with queries and grievances please leave us the following details and one of our Customer Care Executives will get in touch with you as soon as possible. Your feedback and suggestions are welcome as well.</p>
		</div>
	</div>
</div>

<div class="newsletter-section">
	<div class="container">
		<div class="newsletter">
			<span>sign up for newsletter</span>
			<span><input type="text" name="email" placeholder="Enter your email"></span>
			<a href="#">Signup</a>
		</div>
	</div>
</div>

