
@{
    ViewData["Title"] = "Rideshare Apps, Carpool Corporate Office, Cabpool Software, Carpooling";
    Layout = "~/Views/Shared/_LayoutMainV1.cshtml";
    ViewData["Description"] = "Corporate Carpooling App- We offer Enterprise-level ridesharing software for corporate commuters. It offers intelligent ride sharing application to improve mobility among fellow workers. Download now.";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>




<script>
    $(document).ready(function () {
        setTimeout(function () {

           // OpenModel();

            // $("#myModal").modal();
        }, 100);




    });

    function SaveODDEven() {


        $("#mName").removeClass('input-validation-error');
        $("#mMobileNo").removeClass('input-validation-error');
        $("#mCity").removeClass('input-validation-error');

        var flag = false;
        if ($("#mName").val().trim() == '') {
            $("#mName").addClass('input-validation-error');
            flag = true;
        }
        if ($("#mMobileNo").val().trim() == '') {
            $("#mMobileNo").addClass('input-validation-error');
           flag = true;
        }
        if ($("#mEmail").val().trim() == '') {
            $("#mEmail").addClass('input-validation-error');
            flag = true;
        }
         if ($("#mORG").val().trim() == '') {
            $("#mORG").addClass('input-validation-error');
            flag = true;
        }
          if ($("#mComments").val().trim() == '') {
            $("#mComments").addClass('input-validation-error');
            flag = true;
        }



        if (flag)
            return;

        // Save In DB


             $.ajax({
                 url: '@Url.Action("SaveOddEvenDetails","Home")',
                 method:'POST',
                data: {
                    'Name': $("#mName").val(),
                    'MobileNo': $("#mMobileNo").val(),
                    'Email': $("#mEmail").val(),
                    'ORG': $("#mORG").val(),
                    'Comments': $("#mComments").val(),



               },
            beforeSend: function () {

            },
            complete: function () {

            },
             success: function (data) {

                 $("#btnClose").click();

                 $("#mName").val('');
                 $("#mMobileNo").val('');
                 $("#mEmail").val('');
                 $("#mORG").val('');
                 $("#mComments").val('');


                alert(data);

            }
        });


    }



    function OpenModel() {
        $("#myModal").modal(

            { backdrop: 'static' }


        );

    }

</script>





<style>
    .csr-services {
        border-bottom: 1px solid #45c96a;
        padding-bottom: 30px;
    }

        .csr-services h2 {
            text-transform: capitalize !important;
            font-size: 25px !important;
        }

    .globe-icon {
        position: relative;
    }

    .globe-line hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 2px solid #45c96a;
    }

    .globe-section {
        padding: 60px 0;
        margin-top: 50px;
    }

    .get-intouch h2 {
        text-transform: uppercase;
        font-size: 36px !important;
        font-weight: 500;
        color: #000;
        padding-bottom: 10px;
    }

    .get-intouch p {
        padding-bottom: 25px;
        font-weight: 500;
    }

    .services-parag {
        font-weight: 500;
    }

    .footer {
        padding-left: 20px !important;
    }

    h2 {
        text-transform: capitalize !important;
        font-size: 25px !important;
        color: #45c96a !important;
    }

    .newsletter a {
        font-size: 18px !important;
        width: 25%;
        border: 1px solid #45c96a !important;
    }

    p {
        font-size: 18px;
        line-height: 26px;
    }
</style>
<style>
    .input-validation-error {
        border-color: red !important;
    }
</style>
<div class="banner-section">
    <img src="~/assets/images/corporatecarpool.jpg" alt="images" class="img-responsive">
</div>
@model CorporateCarpoolModels
<div class="services-section">
    <div class="container ">
        <div class="row services">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <h1>Intelligent Carpooling software made for smart corporate</h1>
                <p class="services-parag">GreenCar is world's largest not for profit carpooling organization. we offer Enterprise-level ridesharing software for corporate commuters. It offers intelligent ride sharing application to improve mobility among fellow workers.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 icons">
                <img src="~/assets/images/icon-show-you-care.jpg" alt="Peace-of-mind Icon">
                <div class="services-name">
                    <h2>Show You Care</h2>
                    <p>Less vehicles on road means less Co2 emissions. Besides helping environment it help boost your brand image.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <img src="~/assets/images/icon-easy.jpg" alt="Easy Icon">
                <div class="services-name">
                    <h2>Ready-Setup-Go</h2>
                    <p>Our application is ready to run instantly, Greencar provides a advanced carpooling software with ultrafast map technology.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <img src="~/assets/images/icon-better-productivity.jpg" alt="Economic Icon">
                <div class="services-name">
                    <h2>Better Productvity</h2>
                    <p>Employees who carpool have less commute-related stress, develop synergies and loyalty toward your company.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 icons">
                <img src="~/assets/images/icon-easy.jpg" alt="Easy Icon">
                <div class="services-name">
                    <h2>Fully customized UI</h2>
                    <p>Advance interface allows using GreenCar as your own carpooling platform. UI can be customized as per requirement. </p>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:40px;">

            <div class="col-md-3 col-sm-6 icons">
                <img src="~/assets/images/icon-insightful-analytics.jpg" alt="Easy Icon">
                <div class="services-name">
                    <h2>Insightful Analytics</h2>
                    <p>Provides customized reports allowing you to track members registered, rides shared and overall statistical data.</p>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 icons">
                <img src="~/assets/images/icon-peace-of-mind.jpg" alt="Peace-of-mind Icon">
                <div class="services-name">
                    <h2>Peace of mind</h2>
                    <p>Experience Absolute Peace of Mind while traveling with your colleagues and you need not worry about parking hassles.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <img src="~/assets/images/icon-varified.jpg" alt="Varified Icon">
                <div class="services-name">
                    <h2>All colleagues on a map</h2>
                    <p>GreenCar connects co-workers by mapping nearby colleagues geographically to help establishing carpools to and from work</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <img src="~/assets/images/icon-economic.jpg" alt="Economic Icon">
                <div class="services-name">
                    <h2>Cost effective</h2>
                    <p>Carpooling or ridesharing is absolutely cost-effective. While you save the environment you save valuable money also.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="globe-section globe-2">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="heading-hr-line">
                    <span><img src="~/assets/images/globe-icon.png" alt="Icon"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <h2>What we offer?</h2>
                <ul>
                    <li>For large corporates, we can also setup API in your server for your internal employees.</li>

                    <li>The software displays the company logo in the details user information sheets.</li>

                    <li>Automatics search of suitable carpools among your employees.</li>

                    <li>The software provide automatics networking via e-mail.</li>

                    <li>The software has a personalised site and URL.</li>

            </div>

            <div class="col-md-6">
                <h2>Why Greencar as carpool partner?</h2>
                <ul>
                    <li>Our aim is to reduce air pollution and traffic congestion. We see this as an opportunity to serve people, nation and mother earth rather than profit making project.</li>
                    <li>GreenCar carpool software has Better algorithm, better result-our system finds matches along the whole route for better match.</li>
                    <li>We have more than 3 years of experiences in carpooling and having more than 65,000 user registrations.</li>
                    <li>It is a very advanced and practical model means of travel of computers.</li>
                </ul>

            </div>
        </div>
    </div>
</div>





<div class="modal" id="myModal">
    <div class="modal-dialog mod_width">
        <div class="modal-content mod_width">

            <!-- Modal Header -->
            <div class="modal-header custom-header">

                <h4 class="modal-title text-center">ODD-Even Rules</h4>
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button" id="btnClose">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div class="content_dis">
                    <p>Whom to ask? When to ask? when you can travel with colleagues</p>
                    <p>Get Carpooling Software @@ Rs. 1 for your organization</p>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" placeholder="Name" type="text" required id="mName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" placeholder="Phone" type="tel" required id="mMobileNo">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" type="text" required id="mEmail">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" placeholder="Organization Name" type="text" required id="mORG">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control_textarea" placeholder="Comments" id="mComments"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-lg-offset-4">

                        <button class="btn btn-primary" type="button" onclick="SaveODDEven()">Submit</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="">
                    <div class="col-md-4">
                        <h5>Contact Us</h5>

                    </div>
                    <div class="col-md-8">

                        <p>Phone:-<a href="tel:011-3079-7309">011-3079-7309</a>,<br /> <a href="mailto:%20corporate@greencar.ngo">Email:-corporate@greencar.ngo</a></p>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>

<style>
    #myModal h4 {
        font-size: 25px;
        color: #fff;
    }

    button.btn.btn-primary.submit_btn {
        background: #45c96a;
        border-color: #45c96a;
        padding: 8px 50px;
        font-size: 16px;
        /* width: 100%; */
        border-radius: 0;
        margin: 10px 0 5px;
        border-radius: 2px;
    }

    .form-control_textarea {
        display: block;
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: none;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        border: none;
        border-top: none;
        border-bottom: 2px solid #45c96a;
    }

    .content_dis p {
        font-size: 16px;
        text-align: center;
    }

    .cus_footer h5 {
        font-size: 20px;
        text-align: center;
    }

    .cus_footer p {
        font-size: 16px;
        text-align: center;
        color: #000;
    }

        .cus_footer p a {
            color: #000;
        }


    #myModal input {
        display: block;
        /*width: 100%;
        height: 40px;*/
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: none;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        border: none;
        border-top: none;
        border-bottom: 2px solid #45c96a;
    }

    .custom-header {
        background: #45c96a;
        border-radius: 5px 5px 0 0;
    }

        .custom-header button.close {
            color: #fff;
            opacity: 1;
        }

    .modal-dialog.mod_width {
        width: 100% !important;
    }

    .odd_even {
        display: block;
        /*width: 100%;
        height: 40px;*/
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: none;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        border: none;
        border-top: none;
        border-bottom: 2px solid #45c96a;
    }
</style>




<div class="newsletter-section">
    <div class="container">
        <div class="newsletter get-intouch">
            <h2>Get in touch</h2>
            <p>To know more or to know how can you support us. </p>
            <div class="col-md-2"></div>
            <div class="col-md-8 col-xl-9">
                <form id="contact-form" name="contact-form" action="GetInTouch" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="md-form">
                                <input type="text" id="name" class="form-control" placeholder="Name" asp-for="Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form">
                                <input type="text" id="email" class="form-control" placeholder="Email" asp-for="Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form" style="margin-bottom:20px;">
                                <input type="text" id="phone" class="form-control" placeholder="Phone" asp-for="Phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form" style="margin-bottom:20px;">
                                <textarea type="text" id="message" rows="4" placeholder="Comments" class="form-control md-textarea" asp-for="Comments"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="col-md-4">
                                    <div class="">
                                        <img id="img-captcha" src="~/get-captcha-image" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Captcha Code" asp-for="CaptchaCode" maxlength="4" />
                                </div>
                                <div class="col-md-4">
                                    <div class="center-on-small-only">
                                        <input type="submit" class="btn btn-primary" value="Contact us" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>


                <div class="status"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
<script>
    $("#img-captcha").click(function () {
        resetCaptchaImage();
    });

    function resetCaptchaImage() {
        d = new Date();
        $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
    }
</script>