
@{
	ViewData["Title"] = "csr";
	Layout = "~/Views/Shared/_LayoutMainV1.cshtml";
}
<style>
	.top-header {
		display: none;
	}

	.csr-services {
		border-bottom: 1px solid #45c96a;
		padding-bottom: 30px;
	}

		.csr-services h2 {
			text-transform: capitalize !important;
			font-size: 25px !important;
		}

	.globe-icon {
		position: relative;
	}

		.globe-icon img {
			margin: 0 auto;
			position: absolute;
			top: -45px;
		}

	.globe-line hr {
		margin-top: 20px;
		margin-bottom: 20px;
		border: 0;
		border-top: 2px solid #45c96a;
	}

	.globe-section {
		padding: 20px 0;
		margin-top: 0;
	}

	.get-intouch h2 {
		text-transform: uppercase;
		font-size: 36px !important;
		font-weight: 500;
		color: #000;
		padding-bottom: 10px;
	}

	.get-intouch p {
		padding-bottom: 25px;
		font-weight: 500;
	}

	.services-parag {
		font-weight: 500;
		font-size: 30px;
		margin-top: 9px;
		padding-bottom: 0;
	}

	.footer {
		padding-left: 20px !important;
	}

	h2 {
		text-transform: capitalize !important;
		font-size: 25px !important;
		color: #45c96a !important;
	}

	.newsletter a {
		font-size: 18px !important;
		width: 25%;
		border: 1px solid #45c96a !important;
	}

	p {
		font-size: 18px;
		line-height: 26px;
	}
</style>
<div class="banner-section">
	<img src="assets/images/banner-csr.jpg" alt="images">
</div>



<div class="aboutus">
	<div class="container services">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h1>We Need Your Support</h1>
				<p class="services-parag">We reciprocate your support.</p>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-6 icons">
				<div class="services-name csr-services">
					<h2>Grab the Eyeballs</h2>
					<p>We showcase your name in our website and Mobile App which reaches to millions.</p>
				</div>
			</div>

			<div class="col-md-6 icons">
				<div class="services-name csr-services">
					<h2>We make you reach board rooms</h2>
					<p>Through our PPTs, we put our supporters at the for-front of corporate pitches.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 icons">
				<div class="services-name">
					<h2>We brag about your support</h2>
					<p>We show off your brand through on-ground activities, Event and Promotions.</p>
				</div>
			</div>
			<div class="col-md-6 icons">
				<div class="services-name">
					<h2>Do good be good</h2>
					<p>Greencar app comes with your branding. While you do good to your employees. You spread brand awareness & loyalty too</p>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6 icons">
				<div class="services-name">
					<h2>Spread the good word </h2>
					<p>We give you exposure through Event, Promotions and through our social media channels.</p>
				</div>
			</div>
			<div class="col-md-6 icons">
				<div class="services-name">
					<h2>Build brand loyalty</h2>
					<p>Greencar app is safe and eco-friendly. We care for women safety. When you use it shows that you care.</p>
				</div>
			</div>
			<div class="col-md-1 icons"></div>
		</div>
	</div>
</div>
<div class="globe-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading-hr-line">
					<span><img src="~/assets/images/globe-icon.png" alt="Icon"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="padding-bottom:30px;">
	<div class="row">
		<div class="col-md-3 icons"></div>
		<div class="col-md-6 services-name" style="margin-top:0;">
			<h2 style="font-size:36px;font-weight:500;">But most importantly</h2>
			<p>By supporting our endeavor you are working towards making it a greener planet for the generations to come.</p>
		</div>
		<div class="col-md-3 icons"></div>
	</div>
</div>


<div class="newsletter-section">
	<div class="container">
		<div class="newsletter get-intouch">
			<h2>Get in touch</h2>
			<p>To know more or to know how can you support us. </p>
			<div class="col-md-2"></div>
			<div class="col-md-8 col-xl-9">
				<form id="contact-form" name="contact-form" action="mail.php" method="POST">
					<div class="row">
						<div class="col-md-4">
							<div class="md-form">
								<input type="text" id="name" name="name" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-4">
							<div class="md-form">
								<input type="text" id="email" name="email" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4">
							<div class="md-form" style="margin-bottom:20px;">
								<input type="text" id="phone" name="phone" class="form-control" placeholder="Phone">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="md-form" style="margin-bottom:20px;">
								<textarea type="text" id="message" name="message" rows="4" placeholder="Comments" class="form-control md-textarea"></textarea>
							</div>

						</div>
					</div>
				</form>

				<div class="center-on-small-only">
					<a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Contact us</a>
				</div>
				<div class="status"></div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>