
@{
    ViewData["Title"] = "CSR, Cabpooling Benefits, Reduce Cost, Pollutions - GreenCar";
    Layout = "~/Views/Shared/_LayoutMainV1.cshtml";
    ViewData["Description"] = "Carpooling also guarantees a comfortable trip without having to put up with the hassles of public transport, like unpredictability, overcrowding and unfriendly       co-commuters.";
}

<div class="banner-section">
	<img src="assets/images/benefit.jpg" alt="images">
</div>



<div class="container">
	<div class="aboutus">
		<h1>Greencar-benefits</h1>
	</div>
</div>
<div class="benifit-section">
	<div class="container">
		<h4 class="column-title">Carpooling is a great for your pocket & your peace of mind</h4>
		<div class="clearfix"></div>
		<ol class="list-unstyled">
			<li><i class="fa fa-angle-double-right"></i> Sharing a ride means sharing the cost of travel, which is beneficial for both, the driver and the ride-seeker.</li>
			<li><i class="fa fa-angle-double-right"></i> Taking turns to drive and seek could ensure that the burden of driving and parking doesn’t fall on person all the time. </li>
			<li><i class="fa fa-angle-double-right"></i> Carpooling also guarantees a comfortable trip without having to put up with the hassles of public transport, like unpredictability, overcrowding and unfriendly &nbsp; &nbsp; &nbsp; co-commuters. </li>
			<li><i class="fa fa-angle-double-right"></i> It could turn out to be a great way of making new friends!</li>
		</ol>
		<div class="clearfix"></div>
		<h4 class="column-title">Carpooling does wonders for the environment</h4>
		<div class="clearfix"></div>
		<p>Millions of people travel the same route every day, all of them driving alone in their own cars causing traffic jams and adding to the air and noise pollution. If all these people could find a platform to connect with each other, plan their route and make the trip together, it would significantly impact the traffic situation, the parking problems as well as reduce the burden on the environment. </p>

		<div class="clearfix"></div>
		<h4><strong>GreenCar seeks to be exactly that – a safe platform for carpoolers – with the aim to reduce CO2 emissions.</strong></h4>
		<div class="clearfix"></div>
		<h4 class="column-title">Carpooling’s great for the economy</h4>
		<div class="clearfix"></div>

		<p>One-person-per-car travelling doesn’t just damage the environment, it also comes with a big price tag. </p>

		<p>Think of the cumulative fuel cost of a hundred cars travelling the same route every day. But if 5 drivers decided to carpool and traveled in 1 cars instead, the fuel cost would be cut down by one-fifth. Now imagine how much forex we could save on if all lone drivers decided to carpool. </p>

		<p>Carpooling can save billions of dollars. </p>
	</div>
</div>

