
@{
    ViewData["Title"] = "How Carpooling, Cabpooling Work - GreenCar";
    Layout = "~/Views/Shared/_LayoutMainV1.cshtml";
    ViewBag["Description"] = "Register with us as a driver or ride seeker for a hassle free, economical and safe trip. In brief, visit our website.";
}

<div class="banner-section">
	<img src="assets/images/we-work.jpg" alt="images">
</div>



<div class="container">
	<div class="aboutus">
		<h1>How we work</h1>
	</div>
</div>

<div class="team-section">
	<div class="container">
		<div class="row team">
			<div class="col-lg-6 col-sm-12 core-industry core-industry-img">
				<h2>Offer/look for a ride</h2>
				<img src="assets/images/offer.jpg" alt="Our Vision" class="img-responsive" style="display:block; margin-left:auto; margin-right:auto; border: none;">
				<p class="story">Register with us as a DRIVER or RIDE SEEKER for a hassle free, economical and safe trip.</p>
			</div>

			<div class="col-lg-6 col-sm-12 core-industry">
				<h2>Plan your route</h2>
				<img src="assets/images/root-plan.jpg" alt="Our Vision" class="img-responsive" style="display:block; margin-left:auto; margin-right:auto; border: none;">
				<p class="story">Enter details of your route (starting point, destination, time, stopovers if any) and find others who can share the trip.</p>
			</div>
		</div>
		<div class="row team">
			<div class="col-lg-6 col-sm-12 core-industry core-industry-img">
				<h2>Travel together</h2>
				<img src="assets/images/ride-together.jpg" alt="Our Vision" class="img-responsive" style="display:block; margin-left:auto; margin-right:auto; border: none;">
				<p class="story">Choose suitable trip companions from our hundreds of members and have a pleasant trip!</p>
			</div>
		</div>
	</div>
</div>