
@{
    ViewData["Title"] = "CSR Investment, Economical Support - GreenCar";
    Layout = "~/Views/Shared/_LayoutMainV1.cshtml";
     ViewData["Description"]  = "We needs every citizen’s help to bring down the dangerously high air pollution level it is currently at. It is our civic duty to do as much as we can, at an individual level";
}

<div class="container">
	<div class="aboutus">
		<h1>Support</h1>
	</div>
</div>

<div class="support-section">
	<div class="container">
		<div class="">
			<h4 class="column-title">Help us to Help Your Self </h4>
			<p>We needs every citizen’s help to bring down the dangerously high air pollution level it is currently at. It is our civic duty to do as much as we can, at an individual level, to reduce the damage done to our ecosphere on a daily basis. Since, carpooling is one of the economic ways of contributing to this cause, we urge you to support the cause and help us.</p>
		</div>
		<div class="">
			<h4 class="column-title">Our project is helping millions of people, directly or indirectly</h4>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="templatemo_icon">
					<span class="fa fa-lg fa-wechat"></span>
				</div>
				<div class="templatemo_greentitle">Spread the word</div>
				<p>
					Carpooling is a simple, economical and effective way of positively impacting our environment and we need to get this message out to as many people as possible so that we can save ecosphere together. You can help by
					spreading the message on social media.<a href="https://www.facebook.com/greencarindia" target="_blank">Click here </a>to spread the word
				</p>
			</div>



			<div class="col-md-6 col-sm-12 templatemo_servicegap">
				<div class="templatemo_icon">
					<span class="fa fa-lg fa-share-alt"></span>
				</div>
				<div class="templatemo_greentitle">Share a Lead</div>
				<p>
					If you are thinking to start carpool in your organization or want to make Social or CSR investment, please <a href="#" data-toggle="modal" data-target="#exampleModal-1" data-whatever="@@mdo">Click here</a>  to share a lead. Society will appreciate your step to support GreenCar, as all of us are feeling stress of driving, traffic congestion & health hazards because of high air pollution.
				</p>
			</div>



		</div>
	</div>
</div>


