
@{
	ViewData["Title"] = "thankyou";
	Layout = "~/Views/Shared/_LayoutMainV1.cshtml";
}

<div class="aboutus">
	<div class="container services">
		<div class="row" style=" min-height:200px">
			<h1>
				Thanks.. for showing intrerest in Monthly fixed Cab pool. We will get back to you
			</h1>
		
		</div>
	</div>
</div>

